<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="/lib/html5shiv.js"></script>
<script type="text/javascript" src="/lib/respond.min.js"></script>

<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />

<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />
<link rel="stylesheet" type="text/css" href="/lib/fontawesome-free-5.5.0-web/css/all.css" />
<!--[if IE 6]>
<script type="text/javascript" src="/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<link href="/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="page-container">
    {foreach $result as $val}
	<form action="/admin/product/update?id={$val['id']}" method="post" class="form form-horizontal" id="form-article-add" enctype="multipart/form-data">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">商品名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" style="width: 50%" value="{$val['product_name']}" placeholder="" id="" name="product_name">
			</div>
		</div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">商品描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" style="width: 50%" value="{$val['describe']}" placeholder="" id="" name="describe">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">商品类别：</label>
            
            <div class="formControls col-xs-8 col-sm-9">
                
                <select name="category" class="input-text" style="width:13%;">
                    {eq name="val['category']" value="进口零食"}
                    <option value="进口零食" selected="selected">进口零食</option>
                    {else/}
                    <option value="进口零食">进口零食</option>
                    {/eq}
                    {eq name="val['category']" value="饼干糕点"}
                    <option value="饼干糕点" selected="selected">饼干糕点</option>
                    {else/}
                    <option value="饼干糕点">饼干糕点</option>
                    {/eq}
                    {eq name="val['category']" value="坚果蜜饯"}
                    <option value="坚果蜜饯" selected="selected">坚果蜜饯</option>
                    {else/}
                    <option value="坚果蜜饯">坚果蜜饯</option>
                    {/eq}
                    {eq name="val['category']" value="休闲零食"}
                    <option value="休闲零食" selected="selected">休闲零食</option>
                    {else/}
                    <option value="休闲零食">休闲零食</option>
                    {/eq}
                    {eq name="val['category']" value="销售品牌"}
                    <option value="销售品牌" selected="selected">销售品牌</option>
                    {else/}
                    <option value="销售品牌">销售品牌</option>
                    {/eq}
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">价格：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="price" id="" placeholder="" value="{$val['price']}" class="input-text" style="width:10%">&nbsp;元
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">市场价：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="price" id="" placeholder="" value="{$val['original_price']}" class="input-text" style="width:10%">&nbsp;元
            </div>
        </div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">净含量：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="weight" id="" placeholder="" value="{$val['weight']}" class="input-text" style="width:10%">&nbsp;g
            </div>
		</div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">库存：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="stock" id="" placeholder="" value="{$val['stock']}" class="input-text" style="width:10%">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">生产许可证编号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" style="width: 30%" value="{$val['permitNo']}" placeholder="" id="" name="permitNo">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">品牌：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" style="width: 30%" value="{$val['brand']}" placeholder="" id="" name="brand">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">产地：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" style="width: 30%" value="{$val['producingArea']}" placeholder="" id="" name="producingArea">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">厂名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" style="width: 30%" value="{$val['factoryName']}" placeholder="" id="" name="factoryName">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">厂址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" style="width: 30%" value="{$val['factorySite']}" placeholder="" id="" name="factorySite">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">厂家联系方式：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" style="width: 30%" value="{$val['factoryTell']}" placeholder="" id="" name="factoryTell">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">储存方式：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" style="width: 40%" value="{$val['storageMethod']}" placeholder="" id="" name="storageMethod">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">保质期：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" style="width: 10%" value="{$val['warrantyPeriod']}" placeholder="" id="" name="warrantyPeriod">&nbsp;天
            </div>
        </div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">主图：</label>
			<div class="formControls col-xs-8 col-sm-9">
                <a class="radius" style="display: block;width: 200px;height: 31px;background: #5a98de;color: #fff;text-align: center;line-height: 31px;text-decoration: none;">商品缩略图上传</a>
                <input type="file" value="" placeholder="" id="" name="" style="width: 200px;height: 31px; margin-top: -57px;border: 1px solid red;opacity: 0;" onchange="upimg(this);">
                <br/>
                {eq name="val['zhutu']" value=""}
                
                {else/}
                    {foreach $val['zhutu'] as $v}
                        <div style="float:left;position:relative;">
                        
                            <img src="{$v}" style="width:120px;margin:10px;">
                            <input type="hidden" name="imgs[]" value="{$v}" />
                            <a onclick="delImg(this)" style="position:absolute;top:0px;right:0px;float:right;"><i class='far fa-times-circle' aria-hidden="true" style="font-size:20px;color:#666666;"></i></a>
                    
                        </div>
                    {/foreach}
                {/eq}
                <div id="img-list-box">
                </div>
                <input type="hidden" name="img" id="img_src_input">
            </div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">详细内容：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
				
                <textarea style="width:100%;height:700px;" id="content-box" name="content">{$val['content']}</textarea>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;" />
                <button onClick="closeWin();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
		</div>
	</form>
    {/foreach}
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/jquery.listidation/1.14.0/jquery.listidate.js"></script> 
<script type="text/javascript" src="/lib/jquery.listidation/1.14.0/listidate-methods.js"></script> 
<script type="text/javascript" src="/lib/jquery.listidation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/lib/webuploader/0.1.5/webuploader.min.js"></script> 
<script type="text/javascript" src="/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
// $(function(){
// 	var ue = UE.getEditor('editor');
// });

function upimg(obj)
{
    if(obj.value=="")
        return;
    var formdata=new FormData();
    formdata.append("image",$(obj)[0].files[0]);
    $.ajax({
        type:'post',
        url:'/admin/product/upimg',
        data:formdata,
        cache:false,
        processData:false,
        contentType:false,
        success:function(ret){
            // $('#img_src_input').list(ret);
            // $('#img_view').attr('src',ret);
            var html="<div style='float:left;position:relative;'><img src='"+ret+"' style='width:120px;margin:10px;' />";
            html+="<input type='hidden' name='imgs[]' value='"+ret+"' />"
            html+="<a onclick='delImg(this)' style='position:absolute;top:0px;right:0px;float:right;'><i class='far fa-times-circle' aria-hidden='true' style='font-size:20px;color:#666666;'></i></a>"
            html+="</div>"
            $('#img-list-box').append(html);
        },
        error:function(){ }
    });
}

function delImg(obj)
{
    $(obj).parent('div').remove();
}
</script>
    <!-- 配置文件 -->
    <script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('content-box');
    </script>
</body>
</html>